# YouTube API (client-side, с ограничениями по домену)
YOUTUBE_API_KEY=ВАШ_YOUTUBE_API_KEY
YOUTUBE_PLAYLIST_ID=ВАШ_ID_ПЛЕЙЛИСТА

# Telegram Bot (используется на сервере)
TG_TOKEN=ВАШ_ТОКЕН_БОТА
TELEGRAM_CHAT_ID=ВАШ_CHAT_ID
